body {
    height: auto;
    margin: 0%;
}

header h1 {
    background-color: red;
    margin: 0%;
    padding: 20px;
    text-align: center;
}

#navigate {
    position: sticky;
    top: 0%;
    z-index: 1;
}

.menu {
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.menu li {
    padding: 10px;
    display: inline-block;
}

.menu li:hover {
    background-color: rgba(253, 0, 0, 0.137);
}

.menu li:hover .dropdownLink {
    display: block;
    /* Reason it will display the dropdown */
}

.dropdownLink {
    /* Reason it hide the dropdown */
    display: none;
    position: absolute;
    width: auto;
    padding: 0%;
    top: 43px;
    background-color: whitesmoke;
}

.dropdownLink li {
    display: block;
}

.dropdownLink li:hover {
    background-color: gainsboro;
}

.dropdownLink li a {
    color: steelblue;
    font-size: 16px;
}